.btn {
  @include sizeContainer(300px, 50px);
  border: 1px solid $purple;
  background: $ActiveBtnBG;
  color: $white;
  font-size: $buttonText;
  &:hover {
    background: $purpleHoverBtnBG;
    transform: $hoverScale;
    transition: all 0.2s;
  }
  @media (max-width: 870px) {
    @include sizeContainer(45%, 50px);
    font-size: $buttontTextMob;
  }
}
.btn-active {
  background-color: $purple;
}
