.favoritesList {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  &-item {
    &:hover > .favoritesList-item--listContainer {
      display: flex;
      flex-direction: column;
    }
    &--button {
      @include alignContent(center, center);
      @include sizeContainer(125px, 35px);
      gap: 5px;
      background: $purple;
      border-radius: 0 0 0 10px;
      border-right: rgba(64, 59, 109, 1);
      border-right-style: solid;
      border-right-width: 0.3px;
      margin: 0;
      img {
        @include sizeContainer(20px, 20px);
      }
      &:hover {
        transform: $hoverScale;
      }
    }
    &--listContainer {
      @include alignContent(center, center);
      list-style: none;
      margin: 0;
      padding: 0;
      display: none;
      position: absolute;
      border-radius: 5px;
      z-index: 15;
      width: 240px;
      border-radius: 3px;
      background-color: $purple;
      li {
        @include alignContent(space-between, center);
        @include sizeContainer(200px, auto);
        border-bottom: 1px solid rgba(64, 59, 109, 1);
        padding: 10px;
        &:hover{
          transform: $hoverScale;
        }
        img {
          @include sizeContainer(25px, 25px);
          &:first-child {
            border-radius: 50%;
          }
        }
      }
    }
  }
}
